* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2{
  margin-top: 10rem;
  margin-bottom: 2rem;
}


body {
  width: 100vw;
  height: 100vh;
}

.projects {
  margin-top: 2rem;
}

@media screen and (max-width: 575px) {
  h2{
    font-size: 3rem;
  }
  h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
}