@import '../../../styles.scss';

:not(:defined) { display: none; }
type-writer:defined::after {
	content: attr(carret);
	display: inline;
	opacity: 1;
    color: $blue;
}
type-writer {
    color: white;
    font-weight: 100;
    font-size: 2.5rem;
}
@media screen and (max-width: 575px) {
    type-writer {
        font-size: 1.4rem !important;
    }
}