<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center title">
            <h2>
                About
            </h2>
        </div>
    </div>
    <div class="row">
        <ul class="timeline">
            <li>
                <div class="direction-r" data-aos="fade-up">
                    <div class="flag-wrapper">
                        <span class="flag">Royal Bank of Canada</span>
                        <span class="time-wrapper"><span class="time">March 2021 - Present</span></span>
                    </div>
                    <div class="desc">
                        <div class="role">
                            Career Launch Associate
                        </div>
                        <div class="sub-role">
                            Dispute Advisor | March 2021 - September 2021
                        </div>
                        - Researched credit card disputes and built cases to recover funds for clients. <br>
                        - Validated data from internal and third party systems that ensured appropriate course of action was
                        pursued. <br>
                        - Evaluated clients disputes through call center referrals and written emails relating to these inquiries. 
                        <br><br>
                        <div class="sub-role">
                            Web Expansion Coordinator | September 2021 - December 2021
                        </div>
                        - Designed and deployed paid social media advertising campaigns specific to certain clients and organizations <br>
                        - Designed media content using Sketch and Canva <br>
                        - Produced monthly analytic reports to track social media growth.
                        <br><br>
                        <div class="sub-role">
                            TBD | December 2021 - March 2022
                        </div>
                        - TBD <br>
                    </div>
                </div>
            </li>
            <li>
                <div class="direction-l" data-aos="fade-up">
                    <div class="flag-wrapper">
                        <span class="flag">Ferraz Creative</span>
                        <span class="time-wrapper"><span class="time">Sept 2020 - June 2021</span></span>
                    </div>
                    <div class="desc">
                        <div class="role">
                            Junior Web Developer
                        </div>
                        - Collaborated with the senior developer and designer with aspects of the website development and design. <br>
                        - Tested and maintained the backend and front-end applications. <br>
                        - Using client feedback to identify and correct problems with their website.
                    </div>
                </div>
            </li>        
            <li>
                <div class="direction-r" data-aos="fade-up">
                    <div class="flag-wrapper">
                        <span class="flag">Ontario Tech University</span>
                        <span class="time-wrapper"><span class="time">Sept 2016 - Dec 2020</span></span>
                    </div>
                    <div class="desc">
                        <div class="role">
                            Bachelor of Science - Computer Science (Honours)
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="direction-l" data-aos="fade-up">
                    <div class="flag-wrapper">
                        <span class="flag">Durham College</span>
                        <span class="time-wrapper"><span class="time">Sept 2014 - Aug 2015</span></span>
                    </div>
                    <div class="desc"><div class="role">
                        General Arts and Science - Science and Engineering Prep (Ontario Tech Transfer)
                    </div></div>
                </div>
            </li>    
        </ul>
        
    </div>
</div>