.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    svg {
        height: 105px;
        width: 90px;
    }
    p{
        text-align: center;
        margin: 0.1rem;
    }
    h3{
        margin: 1rem;
    }
    .listMobile {
        display: none;
    }
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 771px) {
    .cards{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        svg {
            height: 85px;
            width: 70px;
            margin: 1rem;
        }
        p{
            text-align: left;
            margin: 0.1rem;
        }
        h3{
            margin: 1rem;
        }
        .listDesktop {
            display: none;
        }
        .listMobile {
            display: block;
        }
        h3 {
            margin: 1rem 0;
        }
        .icons {
            justify-content: flex-start;
            align-items: center;
        }
        .content {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
@media screen and (max-width: 575px) {
    .cards{
        margin: 1rem 0;
        svg {
            height: 85px;
            width: 70px;
            margin: 0;
        }
        p{
            text-align: left;
            margin: 0.1rem;
            font-size: 0.9rem;
        }
        h3{
            margin: 0.5rem 0;
            font-size: 1.5rem;
        }
        .listDesktop {
            display: none;
        }
        .listMobile {
            display: block;
        }
        .content {
            margin-left: 2rem;
        }
    }
}