.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    svg {
        height: 105px;
        width: 90px;
        margin: 1rem;
    }
    p{
        text-align: center;
        margin: 0.1rem;
    }
    h3{
        margin: 1rem;
    }
}