@import '../../styles.scss';

svg {
    width: 40px;
    height: 35px;
    margin: 2rem;
    transition: 250ms all ease;
}

a {
    svg:hover {
        transform: scale(1.2);
        stroke {
            fill: $blue;
        }
    }
}

h2 {
    margin-top: 10rem;
}

 
@media screen and (max-width: 575px) {
    h2 {
        font-size: 3rem;
    }
    svg {
        width: 35px;
        height: 30px;
        margin: 1rem;
    }
  }