<div class="container">
  <div class="row">
      <div class='col-12 col-xl-6 col-lg-6'>
        <a href='https://competent-heisenberg-f8f7ef.netlify.app/' data-aos="fade-up" class="card" target="_blank">
        <h2>Covid-19 Viz</h2>
        <div class="pic"></div>
        <button>
        </button>
      </a>
      <a href='https://github.com/domcabitac/github-finder' data-aos="fade-up" class="card card2" target="_blank">
        <h2>Github Finder</h2>
        <div class="pic"></div>
        <button>
        </button>
      </a>
      </div>
      <div class='col-12 col-xl-6 col-lg-6'>
        <a href='https://zen-ride-cb29f1.netlify.app/' data-aos="fade-up" data-aos-delay="200" class="card card3" target="_blank">
          <h2>Budget Tracker</h2>
          <div class="pic"></div>
          <button>
          </button>
        </a>

        <a href='https://www.domcabitac.com/Pig-Game/' data-aos="fade-up" data-aos-delay="200" class="card card4" target="_blank">
        <h2>Pig Game</h2>
        <div class="pic"></div>
        <button>
        </button>
      </a>
      </div>
  </div>
</div>