<div class="container">
    <div class="row">
        <div class='col-12 col-xl-6 col-lg-6'>
            <div class="card">
          <h2>Covid-19 Viz</h2>
          <div class="pic"></div>
          <button>
          </button>
        </div>
          <div class="card card3">
          <h2>Got Next</h2>
          <div class="pic"></div>
          <button>
          </button>
        </div>
        </div>
        <div class='col-12 col-xl-6 col-lg-6'>
            <div class="card card2">
          <h2>Github Finder</h2>
          <div class="pic"></div>
          <button>
          </button>
        </div>
          <div class="card card4">
          <h2>Pig Game</h2>
          <div class="pic"></div>
          <button>
          </button>
        </div>
        </div>
    </div>
  </div>