<div class="container">
  <div class="row">
      <div class='col-12 col-xl-6 col-lg-6'>
        <div data-aos="fade-up" class="card">
        <h2>Covid-19 Viz</h2>
        <div class="pic"></div>
        <button>
        </button>
      </div>
        <div data-aos="fade-up" data-aos-delay="200" class="card card3">
        <h2>Got Next</h2>
        <div class="pic"></div>
        <button>
        </button>
      </div>
      </div>
      <div class='col-12 col-xl-6 col-lg-6'>
          <div data-aos="fade-up" class="card card2">
        <h2>Github Finder</h2>
        <div class="pic"></div>
        <button>
        </button>
      </div>
        <div data-aos="fade-up" data-aos-delay="200" class="card card4">
        <h2>Pig Game</h2>
        <div class="pic"></div>
        <button>
        </button>
      </div>
      </div>
  </div>
</div>