.bg {
	background: #414345;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 75vh;
}

.bg path:first-child {
	opacity: 0.15;
}

.bg path:nth-child(2) {
	opacity: 0.15;
}

.bg path:nth-child(3) {
	opacity: 0.15;
}

.bg path:nth-child(4) {
	opacity: 0.15;
}

.bg path:nth-child(5) {
	opacity: 0.15;
}

.bg path:nth-child(6) {
	opacity: 0.15;
}

.bg path:nth-child(7) {
	opacity: 0.15;
}

@media screen and (max-width: 575px) {
	.bg {
		background: #414345;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 70vh;
	}
}