$bg-color: #E6E5E1;
$shdow-gray: #d3d3d5;
$imgVerify: '/assets/img/verify.png';
$imgSpark: '/assets/img/spark.png';
$imgPG: '/assets/img/parableGifts.png';
$imgVerifyM: '/assets/img/verifyM.png';
$imgSparkM: '/assets/img/sparkM.png';
$imgPGM: '/assets/img/parableGiftsM.png';

h3{
    font-size: 1.75rem;
    font-weight: 500;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
    .card {
      position: relative;
      width: 380px;
      height: 200px;
      background-color: #fff;
      overflow: hidden;
      margin: 2rem;
      ul {
        z-index: 99;
        position: absolute;
        left: 39px;
        top: 5px;
        list-style-type: none;
        li {
          width: 2px;
          height: 2px;
          border-radius: 2px;
          margin: 6px 0;
          background-color: $bg-color;
        }
      }
      svg {
        z-index: 101;
        position: absolute;
        bottom: 10px;
        left: 30px;
        width: 150px;
        color: #fff;
      }
  
      .fa-arrow-right {
        z-index: 100;
        position: absolute;
        right: 75px;
        bottom: 25px;
        font-size: 40px;
        cursor: pointer;
      }
      p {
        z-index: 99;
        position: absolute;
        top: 20px;
        right: 70px;
        color: #333;
        opacity: 0.7;
        font-size: 12px;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      .pic {
        z-index: 100;
        width: 320px;
        height: 200px;
        background-image: url($imgVerify);
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
      }
  
      .social {
        position: absolute;
        left: 60px;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 180px;
        height: 64px;
        border-radius: 80px;
      }
  
      .social i:nth-of-type(1) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
      }
  
      .social i:nth-of-type(2) {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
  
      .social i:nth-of-type(3) {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
  
      .social i:nth-of-type(4) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
  
      &:hover i {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  
      button {
        position: absolute;
        right: 14px;
        bottom: 14px;
        width: 30px;
        height: 30px;
        background-color: #26AC77;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        outline:none;
        transition: all 0.3s ease;
        // mix-blend-mode: hard-light;
  
        i {
          font-size: 3rem;
        }
      }
  
      &:hover button {
        transform: scale(16.5);
      }
  
      &:hover p {
        color: #fff;
      }
      
      &:hover .pic {
        filter: grayscale(0);
        
      }
    }
    
    .card2 {
      .pic {
        background-image: url($imgSpark);
      }
      button {
        background-color: #000000;
      }
    }
    .card3 {
      .pic {
        background-image: url($imgPG);
      }
      button {
        background-color: #FFD166;
      }
    }
  }
  
  .dr {
  position: absolute;
    bottom: 16px; 
    right: 16px;
    width:100px;
  }
   
@media screen and (max-width: 1400px) {
  .container{
    .card {
      width: 320px;
      margin: 1rem;
      .pic {
        width: 260px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .container{
    .card {
      width: 290px;
      margin: 1rem;
      .pic {
        width: 230px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .container{
    .card {
      width: 100%;
      margin: 1.5rem 0;;
      .pic {
        width: 590px;
        background-image: url($imgVerifyM);
      }
    }
    .card2 {
      .pic {
        background-image: url($imgSparkM);
      }
    }
    .card3 {
      .pic {
        background-image: url($imgPGM);
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container{
    .card {
      .pic {
        width: 410px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .container{
    .card {
      margin: 1rem 0;
      .pic {
        width: 80vw;
        filter: grayscale(0);

      }
    }
  }
}