<div class="container">
    <div class="row">
        <div data-aos="fade-up" class='col-12 col-xl-4 col-lg-4'>
            <div class="card">
                <div class="pic"></div>
                <button>
                </button>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="200" class='col-12 col-xl-4 col-lg-4'>
            <div class="card card2">
                <div class="pic"></div>
                <button>
                </button>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class='col-12 col-xl-4 col-lg-4'>
            <div class="card card3">
                <div class="pic"></div>
                <button>
                </button>
            </div>
        </div>
    </div>
  </div>