.services {
    margin: 2rem;
}
h2{
    font-size: 4rem;
}
.title{
    margin-top: 12rem;
    margin-bottom: 3rem;
}

h3{
    font-weight: 500;
}

// #logo {
//     position: absolute;
//     left: -185px;
//     width: 420px;
//     height: 230px;
// }

@media screen and (max-width: 575px) {
    h2{
        font-size: 3rem;
    }
    .title {
        margin-bottom: 1rem;
    }
}