/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    /* background-color: #ffffff; */
    font-family: 'Poppins', sans-serif !important;
    color: #414345;
    font-weight: lighter;
    overflow-x: hidden;
    // margin: 0;
}

$blue: rgba(102, 177, 241, 0.8);

